<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dentalclinic.patientmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PatientManagement">
        <activity
            android:name=".ui.PatientListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddEditPatientActivity"
            android:parentActivityName=".ui.PatientListActivity" />
        <activity
            android:name=".ui.PatientDetailActivity"
            android:parentActivityName=".ui.PatientListActivity"
            android:theme="@style/Theme.PatientManagement.NoActionBar" /> {/* Optional: Use NoActionBar theme if using CollapsingToolbarLayout */}
        <activity
            android:name=".ui.AddEditTreatmentActivity"
            android:parentActivityName=".ui.PatientDetailActivity" />
        <activity
            android:name=".ui.TreatmentInstallmentsActivity"
            android:parentActivityName=".ui.PatientDetailActivity" />
        <activity
            android:name=".ui.AddInstallmentActivity"
            android:parentActivityName=".ui.TreatmentInstallmentsActivity" />
    </application>

</manifest>
